<% include ../partials/header %>

<a href="/campgrounds"> Show Campgrounds</a>
<div class="form-holder">
	<form method="post" action="/campgrounds/<%=campground._id%>/comments" >
		<input class="entry" type="text" name="comments[body]" placeholder="Enter comment">
		<br>
		
		
		<br>
		<input class="sub-btn" type="submit">
</form
			
</div>
	
<br>	
  
<% include ../partials/footer %>
