<% include partials/header %>


<div class="form-holder">
	<h1 class ="register-txt">Sign Up </h1>
	<form method="post" action="/register" >
		<input class="entry" type="text" name="username" placeholder="Enter username">
		<br>
		<input class="entry url" type="password" name="password" placeholder="Enter password">
		
		<input class="sub-btn" type="submit">
	</form
			
</div>


<% include partials/footer %>